@(meals: List[Meal])

@main("Meals") {
    <div class="container">
        <h2>All hotels</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
@*            @for(meal <- meals) {*@
@*                <tr>*@
@*                    <td>@hotel.name/td>*@
@*                    <td>@hotel.address</td>*@
@*                    <td>Do some stuff</td>*@
@*                </tr>*@
@*            }*@
            </tbody>
        </table>
    </div>
}