@(meals: List[Meal])

@main("Meals") {
    <div class="container">
        <h2>All meals</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for(meal <- meals) {
                    <tr>
                        <td>@meal.name</td>
                        <td>@meal.description</td>
                        <td>@meal.price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}