@(entertainments: List[Entertainment])

@main("Entertainments") {
    <div class="container">
        <h2>All entertainments</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
               @for(entertainment <- entertainments) {
                    <tr>
                        <td>@entertainment.name</td>
                        <td>@entertainment.description</td>
                        <td>@entertainment.price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}