@(tours: List[Tour])

@main("Tours") {
    <div class="container">
        <h2>All tours</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>description</th>
                    <th>price</th>
                    <th>seat count</th>
                </tr>
            </thead>
            <tbody>
            @for(tour <- tours) {
                <tr>
                    <td> <a href=@routes.TourController.getTour(tour.id)> @tour.name </a> </td>
                    <td> <a href=@routes.TourController.getTour(tour.id)> @tour.description </a> </td>
                    <td> <a href=@routes.TourController.getTour(tour.id)> @tour.price     </a> </td>
                    <td> <a href=@routes.TourController.getTour(tour.id)> @tour.seatCount </a> </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
