@(tour: Tour)

@main("Tour") {
<div class="container">
    <h2>Tour</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>description</th>
            <th>price</th>
            <th>seat count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@tour.name/td> </td>
            <td>@tour.description</td>
            <td>@tour.price</td>
            <td>@tour.seatCount</td>
        </tr>
        </tbody>
    </table>
</div>
}