@import play.mvc.Http.Request
@(hotels: List[Hotel], rooms: List[Room])//pridek ko dar cia reikia speju reservation id reikes ar dar ko

@main("Select hotel") {
    @if(rooms == null) {
        <div class="container">
            <h2>Select hotel</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="hotel">Hotels</label>
                    <select class="form-control" id="hotel" name="hotel">
                    @for(hotel <- hotels) {
                        <option id="@hotel.id" value="@hotel.id" name="hotel">@hotel.name</option>
                    }
                    </select>
                </div>
            </form>
        </div>
    }else {
        <div class="container">
            <h2>Select room</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="room">Rooms</label>
                    <select class="form-control" id="room" name="room">
                    @for(room <- rooms) {
                        <option id="@room.id" value="@room.id" name="room">@room.id</option>
                    }
                    </select>
                </div>
            </form>
        </div>
    }
}