@import play.mvc.Http.Request//reikia prideti dalyku
@(meals: List[Meal], allergens: List[Allergen])

@main("Select meals") {
    @if(allergens == null) {
        <div class="container">
            <h2>Select meals</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="meal">Meals</label>
                    <select class="form-control" id="example-getting-started" name="meal">
                    @for(meal <- meals) {
                        <option id="@meal.id" value="@meal.id" name="hotel">@meal.name</option>
                    }
                    </select>
                </div>
            </form>
        </div>
    }else {
        <div class="container">
            <h2>Select alllergens</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="allergen">Allergens</label>
                    <select class="form-control" id="example-getting-started" name="allergen">
                    @for(allergen <- allergens) {
                        <option id="@allergen.id" value="@allergen.id" name="room">@allergen.name</option>
                    }
                    </select>
                </div>
            </form>
        </div>
    }
}