@(reservations: List[Reservation])

@main("Voyages") {
    <div class="container">
        <h2>All voyages</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Take Off Place</th>
                    <th>Final Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for(reservation <- reservations) {
                    <tr>
                        <td>@reservation.Date</td>
                        <td>@reservation.takeOffPlace</td>
                        <td>@reservation.finalPrice €</td>
                        <td><a class="btn btn-dark" href="@routes.ReservationController.getReservation(reservation.id)">Show information</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}